# 資料探勘(資料合併）

## 目錄
  ### 1.介紹資料及來源及使用
  ### 2.介紹使用工具
  ### 3.成果呈現
  
______________________________

## 1.介紹資料來源及使用


資料來源:
政府公開資訊觀測站 > 資料集（生育保健）> (1).20歲以上國人糖尿病盛行率、(2).20歲以上國人高血壓盛行率
![image](糖尿病.png)
![image](血壓.png)

資料來源（https://data.gov.tw/）

## 2.介紹使用工具：
尋找合適工具在Python中，可以使用pandas的merge進行合併資料
![image](pandas_melt.png)

## 3.成果呈現

In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('/Users/will/Downloads/20歲以上國人糖尿病盛行率.csv', encoding='big5')

In [5]:
df

          年份別  有效樣本數  合計 (%)  男性 (%)  女性 (%)
0    民國94-97年  1,577     8.5    10.4     6.6
1  民國102-103年  1,460    13.2    16.2    10.5
2  民國102-104年   2195    12.3    14.5    10.4

In [9]:
df2 = pd.read_csv('/Users/will/Downloads/20歲以上國人高血壓盛行率.csv', encoding='big5')

In [10]:
df2

          年份別  有效樣本數  合計 (%)  男性 (%)  女性 (%)
0    民國94-97年  1,703    18.3    21.6    15.2
1  民國102-103年  2,679    24.9    29.1    20.9
2  民國102-104年  3,981    25.6    29.0    22.4

In [12]:
df.columns = [df.columns[0]]+list(df.columns[1:]+'(高血壓)')

In [13]:
df

          年份別 有效樣本數(高血壓)  合計 (%)(高血壓)  男性 (%)(高血壓)  女性 (%)(高血壓)
0    民國94-97年      1,577          8.5         10.4          6.6
1  民國102-103年      1,460         13.2         16.2         10.5
2  民國102-104年       2195         12.3         14.5         10.4

In [14]:
df2.columns = [df2.columns[0]]+list(df2.columns[1:]+'(糖尿病)')

In [15]:
df2

          年份別 有效樣本數(糖尿病)  合計 (%)(糖尿病)  男性 (%)(糖尿病)  女性 (%)(糖尿病)
0    民國94-97年      1,703         18.3         21.6         15.2
1  民國102-103年      2,679         24.9         29.1         20.9
2  民國102-104年      3,981         25.6         29.0         22.4

In [16]:
test = pd.merge(df,df2, on='年份別')

In [17]:
pd.melt(test,['年份別'], var_name='疾病分類', value_name='數值')

           年份別         疾病分類     數值
0     民國94-97年   有效樣本數(高血壓)  1,577
1   民國102-103年   有效樣本數(高血壓)  1,460
2   民國102-104年   有效樣本數(高血壓)   2195
3     民國94-97年  合計 (%)(高血壓)    8.5
4   民國102-103年  合計 (%)(高血壓)   13.2
5   民國102-104年  合計 (%)(高血壓)   12.3
6     民國94-97年  男性 (%)(高血壓)   10.4
7   民國102-103年  男性 (%)(高血壓)   16.2
8   民國102-104年  男性 (%)(高血壓)   14.5
9     民國94-97年  女性 (%)(高血壓)    6.6
10  民國102-103年  女性 (%)(高血壓)   10.5
11  民國102-104年  女性 (%)(高血壓)   10.4
12    民國94-97年   有效樣本數(糖尿病)  1,703
13  民國102-103年   有效樣本數(糖尿病)  2,679
14  民國102-104年   有效樣本數(糖尿病)  3,981
15    民國94-97年  合計 (%)(糖尿病)   18.3
16  民國102-103年  合計 (%)(糖尿病)   24.9
17  民國102-104年  合計 (%)(糖尿病)   25.6
18    民國94-97年  男性 (%)(糖尿病)   21.6
19  民國102-103年  男性 (%)(糖尿病)   29.1
20  民國102-104年  男性 (%)(糖尿病)     29
21    民國94-97年  女性 (%)(糖尿病)   15.2
22  民國102-103年  女性 (%)(糖尿病)   20.9
23  民國102-104年  女性 (%)(糖尿病)   22.4